mongodb = "mongodb+srv://herlandayardan06:Fira_0708@cluster0.fyeea4y.mongodb.net/?retryWrites=true&w=majority"
sendemail = 'cecilebussines@gmail.com'
fromsendemail = 'cecilebussines@gmail.com'
sendpwmail = "Fira_0708"

recaptcha_key_1 = '6LeYNBkoAAAAAEQj4JVATd3lnD0-g0edI8XLHeQk'
recaptcha_key_2 = '6LeYNBkoAAAAALHhIHkzG2iHNycs9KokgIgsKCcY'
